.bundle
tmp/
db/*.sqlite3
log/*.log
log/*.log*
.sass-cache/
public/assets/
config/database.yml
.redcar
.DS_Store
*.swp
*.swo
.rvmrc
.idea/
.vagrant
.byebug_history
# Ignore application configuration
/config/application.yml
/config/deploy
/lib/capistrano
